* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "harmond";
  src: url("../src/fonts/harmond.otf") format("opentype");
}

@font-face {
  font-family: "harmondSemiBold";
  src: url("../src/fonts/Harmond-SemiBold.otf") format("opentype");
}

@font-face {
  font-family: "ranadeMed";
  src: url("../src/fonts/Ranade-Medium.otf") format("opentype");
}

/* global */

.grandDiv {
  display: flex;
  flex-direction: column;
  padding: 40px;
  height: 100vh;
  width: 100vw;
}

a,
a:visited,
.backHome,
.logout {
  color: black;
  cursor: pointer;
}

/* nav */

.nav,
.loginSignup {
  display: flex;
  width: 100%;
  justify-content: space-between;
  text-align: center;
}

.nav > div {
  font-family: "ranadeMed";
}

.eclectic {
  font-size: 1.7rem;
  padding-bottom: 8px;
}

.backHome {
  text-decoration: none;
  border: 1px solid black;
  padding: 3px 18px;
}

.loginSignup {
  gap: 20px;
}

/* main + nav */

/* below nav flex */

.blog {
  display: flex;
  width: 100%;
  height: 100%;
  gap: 10px;
}

.blog > div:first-child {
  width: 27%;
}

.main {
  width: 73%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* below nav flex */

/* login + sign up */

form {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 30px;
}

form > div {
  display: flex;
  justify-content: space-between;
}

form > div:not(:last-child) {
  align-items: center;
  height: 30%;
}

input {
  width: 70%;
  height: 40px;
}

.btn {
  width: 35%;
  height: 60px;
  align-self: center;
  border-radius: 60px;
  border: none;
  cursor: pointer;
}

.main > form,
.main > div {
  width: 40%;
  height: 100%;
}

.main > div {
  text-align: center;
}

/* login + sign up */
